<section id="bibliografia">
    <div class="bibliografia-container">
      <h2>Bibliografía</h2>
      <ul>
        <li>
          books.toscrape. (2024). <em>Books to Scrape</em>. 
          <a href="https://books.toscrape.com/" target="_blank">https://books.toscrape.com/</a>
        </li>
        <li>
          Clemente, D., Sinsajoa, G., Sebastian, A., Quintero, T., Esteban, D., & Estrella, F. (2024). 
          <em>Desarrollo de una herramienta de adquisición automática de datos de fuentes externas, para el sistema de gestión de información de la Vicerrectoría</em> 
          [Doctoral dissertation, Universidad CESMAG]. 
          <a href="http://repositorio.unicesmag.edu.co:8080/jspui/handle/123456789/1175" target="_blank">http://repositorio.unicesmag.edu.co:8080/jspui/handle/123456789/1175</a>
        </li>
        <li>
          Mijangos-Espinosa, R., Martínez-Rebollar, A., Estrada-Esquivel, H., & Hernández-Pérez, Y. (2022). 
          <em>Uso de técnicas de Web Scraping para obtención automática de bases de datos en la Web</em>. rcs.cic.ipn.mx, 151(5), 143–157. 
          <a href="https://rcs.cic.ipn.mx/2022_151_5/Uso%20de%20tecnicas%20de%20Web%20Scraping%20para%20obtencion%20automatica%20de%20bases%20de%20datos%20en%20la%20Web.pdf" target="_blank">https://rcs.cic.ipn.mx/2022_151_5/Uso%20de%20tecnicas%20de%20Web%20Scraping%20para%20obtencion%20automatica%20de%20bases%20de%20datos%20en%20la%20Web.pdf</a>
        </li>
      </ul>
    </div>
  </section>
  