<section id="codigo">
    <div class="codigo-container">
      <h2>Código</h2>
  
      <!-- Primera Imagen -->
      <div class="item">
        <img src="image/git.png" alt="Imagen de Drive">
        <div class="item-content">
          <h3>GitHub</h3>
          <p>Repositorio del código generado para realizar el scraping</p>
          <a href="https://github.com/Franky-250/Actividad_analitica/blob/main/Actividad_2.ipynb" target="_blank" class="btn">Ir a Drive</a>
        </div>
      </div>
  
      <!-- Segunda Imagen -->
      <div class="item">
        <img src="image/mercadolibre.png" alt="Imagen de HTML">
        <div class="item-content">
          <h3>Filtro Web</h3>
          <p>Resultados generados del scraping que se le realizo a mercadolibre</p>
          <a href="mercado_libre_products.html" target="_blank" class="btn">Ir a HTML</a>
        </div>
      </div>
    </div>
  </section>
  
