<section id="portada">
    <div class="portada-container">
      <p><strong>Materia:</strong> <h2>Programación para Análisis de Datos</h2></p>
      <p><strong>Grupo:</strong> PREICA2402B020101</p>
      <p><strong>Docente:</strong> Andrés Felipe Palacios</p>
  
      <h3>Integrantes:</h3>
      <ul>
        <li>Wilson Emilio David</li>
        <li>Lida Cristina Flores</li>
        <li>Eduin Echeverry Hurtado</li>
        <li>Jesús Manuel Segura</li>
      </ul>
    </div>
  </section>
  